@import '../../../styles/mixins.scss';

.back {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  span {
    font-weight: 700;
    font-size: 14px;
    color: var(--c-white);
  }
}
.header {
  background: var(--c-dark-blue);
  border-radius: 10px;
  padding: 26px 32px;
  padding: clamp(20px,2.3vw,26px) clamp(20px,2.6vw,32px); 
  margin-bottom: 48px;
  @include flex(center,space-between);
}
.leftSide {
  display: flex;
  flex-direction: column;
  h2 {
    margin-top:8px;
    @include heading1;
    color: var(--c-white);
  }
}
