@mixin btnBasicsStyles {
  border-radius: 10px;
  padding: 12px clamp(14px, 1.9vw, 24px);
  font-weight: 700;
  font-size: 14px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.addFeedbackBtn {
  background: #ad1fea;
  color: #f2f4fe;
  @include btnBasicsStyles;
  &:hover {
    background: #c75af6;
  }
}
.cancelBtn {
  background: #656ea3;
  color: #f2f4fe;
  @include btnBasicsStyles;
}
.backBtn {
  display: flex;
  align-items: center;
  gap: 16px;
  color: #647196;
  @include btnBasicsStyles;
}
.editButton {
  background: #4661e6;
  color: #f2f4fe;
  @include btnBasicsStyles;
}
.deleteBtn {
  background: #d73737;
  color: #f2f4fe;
  @include btnBasicsStyles;
}
