.textarea {
  border-radius: 5px;
  width: 100%;
  padding: 12px 20px;
  font-size: 15px;
  height: 96px;
  resize: none;
  color: var(--c-dark-blue2);
  font-family: var(--font-family);
  background: var(--c-white3);
}

.error{
  display: block;
  margin-top: 4px;
  font-size: 14px;
  color: #d73737;
}