@import '../../../styles/mixins.scss';
.widget {
  padding: 20px 24px;
  background: var(--c-white);
  border-radius: 10px;
}

.top {
  margin-bottom: 24px;
  @include flex(center,space-between);
  p {
    @include heading3;
  }
  a {
    font-weight: 600;
    font-size: 13px;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: var(--c-blue);
  }
}

.loading{
  width: 60px;
  display: flex;
  margin: 0 auto;
}


