.widget {
  padding: 20px 24px;
  background: #fff;
  border-radius: 10px;
}

.top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 24px;
  p {
    font-weight: 700;
    font-size: 18px;
    letter-spacing: -0.01em;
    color: #3a4374;
  }
  a {
    font-weight: 600;
    font-size: 13px;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #4661e6;
  }
}

.loading{
  width: 60px;
  display: flex;
  margin: 0 auto;
}


