.error{
  display: block;
  margin-top: 4px;
  font-size: 14px;
  color: #d73737;
}
.input {
  border-radius: 5px;
  width: 100%;
  padding: 12px 20px;
  font-size: 15px;
  background: var(--c-white3);
  color: var(--c-dark-blue2);
  font-family: var(--font-family);
}
