@import "../../styles/mixins.scss";
.product {
  background: var(--c-white);
  border-radius: 10px;
  padding: 28px 32px;
  display: flex;
  align-items: center;
  transition: 0.3s ease-in-out;
}
.titleLink {
  font-weight: 700;
  letter-spacing: -0.01em;
  color: var(-c-dark-blue2);
  margin-bottom: 4px;
  transition: 0.3s ease-in-out;
  @include adaptiv-font(18, 16);
  &:hover {
    color: #4661e6;
  }
}

.productInfo {
  margin-left: 40px;
  h4 {
    margin-bottom: 4px;
    @include heading3;
  }
  p {
    color: var(--c-gray);
    margin-bottom: 12px;
    @include adaptiv-font(16,15);
  }
  span {
    background: var(--c-white2);
    border-radius: 10px;
    padding: 5px 16px;
    font-weight: 600;
    font-size: 13px;
    color: var(--c-blue);
  }
}

.commentsLink {
  margin-left: auto;
}
