@import '@/app/styles/mixins.scss';

.selectContainer {
  position: relative;
  width: 100%;
  cursor: pointer;
}

.arrow {
  position: absolute;
  top: 43%;
  right: 24px;
  transition: 0.3s ease-in-out;
}

.selected {
  padding: 12px 24px;
  height: 48px;
  border-radius: 5px;
  color: var(--c-dark-blue2);
  background: var(--c-white3);
  @include flex(center,space-between);
  @include adaptiv-font(15,14);
}

.dropdown {
  position: absolute;
  top: 120%;
  left: 0;
  right: 0;
  z-index: 1000;
  box-shadow: 0 10px 40px -7px rgba(55, 63, 104, 0.35);
  background: var(--c-white);
  border-radius: 10px;
}

.option {
  padding: 12px 24px;
  transition: 0.3s ease-in-out;
  cursor: pointer;
  color: var(--c-gray);
  @include adaptiv-font(16,15);
  &:not(:last-of-type){
    border-bottom: 1px solid #dfdcdc;
  }
  &:hover {
    color: var(--c-pink);
  }
}

.optionActive{
  @include flex(center,space-between);
  &::after{
    content: "";
    display: block;
    width: 11px;
    height: 7px;
    background: url("/selected-icon.svg") no-repeat center/contain;
  }
}
