@import '@/app/styles/mixins.scss';
.logo{
    background: radial-gradient(166.82% 166.82% at 103.9% -10.39%, rgb(232, 77, 112) 0%, rgb(163, 55, 246) 53.088635206222534%, rgb(40, 167, 237) 100%);
    border-radius: 10px;
    padding: 62px 78px 24px 24px;
}
.logoTitle{
    font-weight: 700;
    letter-spacing: -0.01em;
    color: var(--c-white);
    @include adaptiv-font(20,17);
}
.logoSubTitle{
    font-weight: 500;
    color: var(--c-white);
    opacity: 0.75;
    @include adaptiv-font(15,14);

}