@import '../../styles/mixins.scss';
.navbar {
  background: var(--c-dark-blue);
  padding: 12px 16px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  @media (max-width: 420px){
    flex-direction: column-reverse;
    align-items: center;
    gap: 12px;
  } 
}


.suggestions {
  display: flex;
  align-items: center;
  gap: 16px;
  p {
    font-weight: 700;
    letter-spacing: -0.01em;
    color: var(--c-white);
    @include adaptiv-font(18,16);
  }
}

.sort {
  background: transparent;
  border: unset;
  position: relative;
  margin-left: 38px;
  cursor: pointer;
  @media (max-width: 768px) {
    margin-left: 0;
  }
}

.sortActive{
  .sortMenu{
    opacity: 1;
    visibility: visible;
  }
  .defaultValue{
    img{
      transform: rotate(0deg);
    }
  }
  .sortMenu{
  }
}

.defaultValue {
  display: flex;
  align-items: center;
  gap: 10px;
  img{
    transition: .3s ease-in-out;
    transform: rotate(180deg);
  }
  p {
    font-family: var(--font-family);
    font-weight: 700;
    color: #f2f4fe;
    @include adaptiv-font(14,13);
    span {
      font-weight: 400;
    }
  }
}

.sortMenu {
  transition: .3s ease-in-out;
  visibility: hidden;
  opacity: 0;
  transform: translateY(20px);
  position: absolute;
  top: 200%;
  left: 0;
  border-radius: 10px;
  box-shadow: 0 10px 40px -7px rgba(55, 63, 104, 0.35);
  background: #fff;
  width: 250px;
  li {
    padding: 12px 24px;
    font-size: 16px;
    transition: .3s ease-in-out;
    color: var(--c-gray);
    @include flex(center,space-between);
    &:hover{
      color: #c75af6;
    }
  }
}

.activeOption {
  &::after{
    content: "";
    display: block;
    width: 13px;
    height: 10px;
    background: url("/selected-icon.svg") no-repeat center/contain;
  }
}


.add{
  margin-left: auto;
  @media (max-width: 420px){
    margin-left: unset;
  }
}