@import "../../../styles/mixins.scss";
.wrap {
  padding: 24px 34px;
  background: var(--c-white);
  border-radius: 10px;
}
.title {
  margin-bottom: 24px;
  @include heading3;
}
.textarea {
  border: 1px solid transparent;
  transition: 0.3s ease-in;
  background: var(--c-white3);
  border-radius: 5px;
  padding: 16px 24px;
  height: 80px;
  resize: none;
  width: 100%;
  font-size: 15px;
  color: var(--c-dark-blue2);
  &:focus {
    border: 1px solid var(--c-blue);
  }
}
.bottom {
  margin-top: 16px;
  @include flex(center,space-between);
}
.text {
  @include text2;
}
