@import "@/app/styles/mixins.scss";
.loader {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
}

.detailsPage {
  padding: 0 2.5vw;
  @include pt(30, 60);
  @include pb(20, 40);
  @include page;
}

.product {
  transform: unset;
  &:hover {
    transform: unset !important;
  }
}
.buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
}
