.textarea {
  background: #f7f8fd;
  border-radius: 5px;
  width: 100%;
  padding: 12px 20px;
  font-size: 15px;
  color: #3a4374;
  font-family: "Jost", sans-serif;
  height: 96px;
  resize: none;
}

.error{
  display: block;
  margin-top: 4px;
  font-size: 14px;
  color: #d73737;
}