@import '../../styles/mixins.scss';
.upvote {
    gap: 6px;
    border-radius: 10px;
    background: var(--c-white2);
    padding: 8px;
    width: fit-content;
    align-self: flex-start;
    min-width: 34px;
    cursor: pointer;
    transition: .3s ease-in-out;
    @include flex(center,space-between);
    flex-direction: column;
    &:hover{
      background: #cfd7ff;
    }
    span {
      font-weight: 700;
      font-size: 13px;
      color: var(--c-dark-blue2);
    }
  }
 
.disabled{
  background: var( --c-blue);
  span{
    color: var(--c-white);
  }
  &:hover{
    background: var(--c-blue);
  }
}