.leftSide {
  display: flex;
  flex-direction: column;
  gap: 24px;
  @media (max-width: 992px) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
}
.rightSide {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
